<div id="header">
  <div>
    <a href="/" class="logo"><img src="images/logo2.png" alt=""></a>
    <ul id="navigation">
      <li class="{{#if activePage.home}} selected {{/if}}">
        <a href="/">首頁</a>
      </li>
      <li class="{{#if activePage.product}} selected {{/if}}">
        <a href="/product">掛號</a>
      </li>
      <li class="{{#if activePage.async}} selected {{/if}}">
        <a href="/async">門診</a>
      </li>
      <li class="{{#if activePage.contact}} selected {{/if}}">
        <a href="/contact">聯絡我們</a>
      </li>
    </ul>
  </div>
</div>
