<div id="body" class="home">
  <div class="header">
    <img src="images/medical_group.jpg" alt="">
    <div>
      <a href="/product">Place Order!</a>
    </div>
  </div>
  <div class="main">
    <div>
      <div>
        <h1>紅帽醫療集團</h1>
        <h2>我們是專業的軟體醫療集團</h2>
        <p>幫助您進行系統診斷、微服務拆分</p>
      </div>
      <img src="images/OpenShift.png" alt="">
    </div>
  </div>
  <div class="footer">
    <div>
      <ul>
        <li>
          <a href="/product" class="product"></a>
          <h1>掛號</h1>
        </li>
        <li>
          <a href="/about" class="about"></a>
          <h1>關於我們</h1>
        </li>
        <li>
          <a href="/product" class="flavor"></a>
          <h1>門診</h1>
        </li>
        <li>
          <a href="/contact" class="contact"></a>
          <h1>聯繫我們</h1>
        </li>
      </ul>
    </div>
  </div>
</div>
